.event_item{
    display:block;
    clear:both;
    font-size:0.95em;
    margin:1em 0;
}
.event_item:after{
    display:block;
    clear:both;
    padding:1px;
    content:' ';
}
.event_item .event_thumbnail{
    float:left;
    margin:0 1em 0 0;
}
.event_map{
    background:#CCC;
    border:#999 1px solid;
}
.event_past{
    opacity:0.7;
}
.event_item a{
    text-decoration: none;
}

.event_item h5{
    font-size:1em;
    clear:none;
}
.event_item address{ /* Bootstrap patch */
    line-height:inherit;
    margin-bottom:0;
}
.event_data{
    display:block;
    font-size:0.8em;
    opacity:0.9;
    line-height:1.1em;
}
.event_single{
    padding:0.5em 0.5em 0.5em 1.5em;
    margin:0.5em 0;
    background: #FFF;
    background: rgba(255,255,255,0.9);
    border:none;
    border-left:#FFF 10px solid;
}
.event_data .date{
    font-size:1.2em;
}
.event_data .time{
    font-size:1.1em;
    opacity:0.8;
}
.event_data a{
    font-size:0.7em;
    background:transparent;
    display:block;
    padding:0.2em 0.5em;
    border-radius:0.2em;
    float:right;
    margin:0.1em 0.2em;
    text-decoration:none !important;
    font-weight:900;
}

.event_data a.gps{
    font-size:1.1em;
}

.event_data.event_category{
    clear:both;
}

.event_geolist_icon_loader{
    line-height: 5em;
    background: #CCC;
    background-color: rgba(0, 0, 0, 0.1);
    border:#000 1px dotted;
    text-align: center;
}
.event_geolist_icon_loader .dashicons{
    line-height: 3em;
}
.event_geolist_parsed .event_geolist_icon_loader{
    display:none;
}
.event_geolist.no-list .event_item{
    display:none;
}
.event_geolist.has-list{
    background-color:#0002;
}
.event_geolist.list-left,
.event_geolist.list-right{
    display: flex;
    flex-flow: nowrap;
}
.event_geolist .eventpost-item-list{
    padding: 0;
}
.event_geolist.list-left .eventpost-item-list,
.event_geolist.list-right .eventpost-item-list{
    width: 30%;
    font-size: 0.8em;
    max-height: 100%;
    overflow-y: auto;
}
.event_geolist .eventpost-item-list .event_item{
    display: block;
    padding: 0 1em 1em;
    margin: 1em 0;
    float: none;
    clear: both;
    border-bottom: #aaa 1px solid;
}
.event_geolist .eventpost-item-list .event_item h5{
    margin: 0;
}

.event_map_popup{
    background:#F5F5F5;
    border-radius:0 15px 15px;
    border:#FFF 1px solid;
    padding:0.5em;
    color:#000;
    position:absolute;
    top:5px;
    left:5px;
    width:200px;
    box-shadow:rgba(0,0,0,0.5) 2px 2px 5px;
}
.event_map_popup a,.event_map_popup a:hover{
    text-decoration:none;
    color:#222;
}
.event_map_popup img{
    float:left;
    margin-right:4px;
    max-width:50%;
    height:auto;
}

.olMap img{
    max-width:none;
}
.olControlZoom{
    display:none;
}

.olControlAttribution{
    right:5px;
    bottom:5px;
    font-size:0.6em;
}

/** Calendar Widget **/
.eventpost_calendar{
    width:100%;
    min-height:100px;
    border:#CCC 1Px solid;
    padding:0.3em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position:relative;
    text-align: center;
}
.eventpost_cal_loader{
    margin-top:20px;
}

.eventpost_cal_list{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    background:#FFF;
    padding:0.5em;
    border:#CCC 1px solid;
    top:0;
    overflow:auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.eventpost_calendar table{
    width:100%;
}
.eventpost_calendar td, .eventpost_calendar th{
    text-align: center;
}
.eventpost_calendar table caption{
    text-align: center;
}
.eventpost_calendar th{
    font-weight:900;
    width: 14.2857%;
}
.eventpost_calendar tbody td{
    vertical-align: top;
    width: 14.2857%;
}
.eventpost_calendar tbody td.event_post_day_now{
    border:#8C4 2px solid;
}
.eventpost_calendar button{
    cursor:pointer;
    display:inline-block;
    padding:0.1em;
    background:transparent;
    font-weight:900;
    box-shadow: none;
    border:none;
    border-radius: 0;
}
.eventpost_calendar tbody button{
    padding:0.3em 0;
    background:rgba(0,0,0,0.4);
    border: transparent 1px solid;
    width: 100%;
}
.eventpost_calendar tbody button:hover, .eventpost_calendar tbody button:focus{
    border:#FFF 1px solid;
    border-radius: 0;
}

.eventpost_calendar  button.eventpost_cal_close{
    position:absolute;
    right:2px;
    top:2px;
    display:bock;
    padding:0.3em 0.6em;
    background:#555;
    color:#FFF;
    text-decoration: none;
}
.eventpost_calendar  button.eventpost_cal_close:hover, .eventpost_calendar  button.eventpost_cal_close:focus{
    background:#000;
    color:#FFF;
}
.eventpost_cal_list ul, .eventpost_calendar tbody ul{
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
}
.eventpost_cal_list li, .eventpost_calendar tbody ul li{
    display: block;
}

.eventpost_calendar tbody ul li h4{
    font-weight: 500;
    font-size: 0.75em;
    display: block;
    margin: 0.1em;
    padding: 0.1em 0.7em;
    background: #0001;
    border:#0002 1px solid;
    border-radius: 2px;
}
.eventpost_calendar tbody ul li .event_data{
    display: none;
}


/*Widget MAP */
.widget .eventpost_widget *,
.widget .eventpost_widget img,
.widget .eventpost_widget div,
.widget .eventpost_widget a ,
.widget .eventpost_widget span {
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
}



/*Weather*/
.eventpost-weather-very-hot {
  background: #f56048;
}
.eventpost-weather-hot {
  background: #fbaa1b;
}
.eventpost-weather-average {
  background: #E8D024;
}
.eventpost-weather-cold {
  background: #60bdfa;
}
.eventpost-weather-very-cold {
  background: #1c71f2;
}
.eventpost-weather-none {
  background: grey;
}

.eventpost-weather-clear-sky{

}
.eventpost-weather-few-clouds{

}
.eventpost-weather-scattered-clouds{

}
.eventpost-weather-broken-clouds{

}
.eventpost-weather-shower-rain{

}
.eventpost-weather-rain{

}
.eventpost-weather-thunderstorm{

}
.eventpost-weather-snow{

}
.eventpost-weather-mist{

}

/* Search widget */
body:not(.wp-admin) .eventpost-date-wrapper label, body:not(.wp-admin) .eventpost-datepicker-simple-inputgroup{
    display: inline;
}
.eventpost-search-item-count{
    display: inline-block;
    padding: 0.4em 1em;
    border-radius: 3px;
    background:rgba(200, 200, 0, 0.3);
    margin: 1em 0;
}