.wp-block-eventpost-map {
   border: 1px dotted #0000004d;
   background: #E8E8E8 url("../../../img/map-preview.png") no-repeat center center;
   text-align: center;
   padding: 4em 2em;
}

.eventpost-map-interactions label{
   display: block;
}